.heading-height {
  height: 100px;
}
.cell-height {
  height: 50px;
}
.overflow-ellipses{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pt-1 {
  padding-top: 1em;
}

.calendar-7-hill {
  td {
    width: 50px;
  }
  tbody {
    td {
      cursor: pointer;
    }
  }
}

.book-day {
  background-color: red;
}

.selecting-days {
  background-color: pink;
}